:root {
  --background: #fcfcfc;
  --background-darker: #ececec;
  --text: #5f6872;
  --text-dark: #363c42;
  --font-size-xxl: 96px;
  --font-size-xl: 40px;
  --font-size-lg: 32px;
  --font-size-bigger: 24px;
  --font-size-normal: 20px;
  --font-size-smaller: 16px;
  --icon-size: 75px;

  --breakpoint-mobile: 900px;
}

/* Global */
body,
html {
  background-color: var(--background);
  font-size: var(--font-size-normal);
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
}
/* Device is mobile */
@media screen and (max-width: 992px) {
  .show-desktop {
    display: none !important;
  }

  :root {
    --font-size-xxl: 60px;
    --font-size-xl: 32px;
    --font-size-lg: 26px;
    --font-size-bigger: 20px;
    --font-size-normal: 16px;
    --font-size-smaller: 12px;
    --icon-size: 50px;
  }
}
/* Device is desktop */
@media screen and (min-width: 992px) {
  .show-mobile {
    display: none !important;
  }
}
.openings .badge {
  vertical-align: text-bottom;
  margin-left: 4px;
}

/* Sections */
header {
  height: 100vh;
}
section {
  width: 100%;
  padding: 5rem 0rem;
}
section:nth-child(2n + 1):not(:first-child) {
  background-color: var(--background-darker);
}
section:first-child {
  padding: 2rem 0rem;
}
footer {
  padding: 1rem 0rem;
  text-align: center;
}

/* Typography */
h1 {
  font-size: var(--font-size-xxl);
  color: var(--text-dark);
  font-weight: 700;
}
h2 {
  font-size: var(--font-size-xl);
  color: var(--text-dark);
}
h3 {
  font-size: var(--font-size-lg);
  color: var(--text-dark);
  font-weight: 700;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: var(--font-size-bigger);
}
a {
  color: var(--bs-primary);
  text-decoration: none;
}
a:hover {
  color: var(--bs-primary-dark);
}

/* Navigation */
nav {
  padding: 1rem 0rem;
}
.navbar-nav {
  flex-direction: row;
}
.nav-item {
  margin-right: 2rem;
}
.nav-link {
  color: var(--bs-white);
  opacity: 0.8;
  transition: opacity 0.6s ease;
  white-space: nowrap;
}
.nav-link:hover {
  color: var(--bs-white);
}
.nav-link:focus {
  color: var(--bs-white);
}
.nav-link:active {
  color: var(--bs-white);
}
.mobile-sidenav-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: none;
}
.mobile-sidenav-container.open {
  display: block;
}
.mobile-sidenav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  background-color: var(--bs-white);
  z-index: 150;
}
.mobile-sidenav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-sidenav li {
  margin-bottom: 1rem;
}
.sidenav-closebutton {
  font-size: var(--font-size-bigger);
}

/* Header */
header {
  position: relative;
  background-image: url('/resources/images/header-background.jpg');
  background-position: center center;
  background-size: cover;
}
header .welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
  text-align: center;
}
header .welcome-text * {
  color: var(--bs-white);
}
header .view-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  text-align: center;
}
header .view-more i {
  animation: viewMoreArrow 1.8s ease infinite;
  position: relative;
}
@keyframes viewMoreArrow {
  0% {
    top: -0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: -0px;
  }
}

/* Icon Collection */
.icon-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-collection > i {
  font-size: var(--icon-size);
  width: 100%;
  text-align: center;
  position: relative;
  top: 10px;
}

/* Openings */
.openings > div {
  padding: 0.5rem 0rem;
}
.openings > div.today {
  background-color: var(--background-darker);
  border-radius: 8px;
}

/* Range */
.tabs-item {
  font-weight: bold;
  cursor: pointer;
}
.tabs-item.active {
  cursor: default;
  pointer-events: none;
  color: var(--bs-primary);
}

/* Social Icons */
.social-icon {
  font-size: var(--font-size-xl);
  color: var(--text);
}

/* Footer */
footer p {
  margin: 0;
  opacity: 0.8;
  font-size: var(--font-size-smaller);
}
